body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #2f363c;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.25;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}

span {
    color: red;
}

p a {
    color: seagreen;
    text-decoration: none;
}

.classSel {
    font-weight: bold;
    text-decoration: underline;
    font-style: normal;
}

#oneId {
    text-transform: uppercase;
    background-color: yellow;
    color: red;
}

.noMargin {
    margin: 0;
}