/* Nuestra hoja de estilos */

h1 {
    text-align: center;
    text-transform: capitalize;
}

header {
    /*background-color: peru;*/

    /*
        Prefijos para dar soporte a diferentes navegadores

            -moz- Firefox
            -webkit- Chrome, Safari, ...
            -ms- Microsoft (IE)
            -o- Opera
    */
    background-image: -webkit-linear-gradient(top, #D7D 0%, #068 100%);
    color: white;
}

section {
    max-width: 1024;
    margin: 0 auto;
    background-color: lime;
}

footer {
    background-color: pink;
}