/* Nuestra hoja de estilos */

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Variables globales */

:root {
    --primary: rgb(236, 29, 36);
    --accent: #0091FF;
    --white: #FFF;
    --lightGray: #F7F7F7;
    --darkGray: #202020;
    --black: #000;
    --footerHover: #BBB;
}

/* Estilos a todas las etiquetas */

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--darkGray);
    text-align: justify;
    font-family: "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
    background-color: var(--darkGray);
}

h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 15px 0;
    color: var(--primary);
}

h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 15px 0;
    color: var(--primary);
}

a {
    transition: 0.7s;
    color: var(--white);
    padding: 12px;
    text-decoration: none;
    font-weight: normal;
}

a:visited {
    color: var(--white);
}

header, main, footer > div, nav ul {
    max-width: 1024px;
    margin: auto; /* Centrar el contenido */
    box-sizing: border-box;
}

main {
    background-color: var(--lightGray);
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: var(--darkGray);
    border-top: 1px solid var(--black);
}

nav {
    background-color: var(--primary);
    color: var(--darkGray);

    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none; /* Quita los puntos de la lista */
    padding: 15px;
    font-weight: bold;
}

nav a:hover {
    transition: 0.7s;
    background-color: var(--accent);
    text-decoration: underline;
    cursor: pointer;
}

main section {
    display: flex;
}

article {
    border: 1px solid var(--darkGray);
    padding: 5px;
    margin: 5px;
    width: 50%;
}

.left img {
    width: 50%;
}

.right img {
    display: block;
    margin: auto;
}

footer div {
    display: flex;
    justify-content: space-between;
}

footer ul li {
    list-style: none;
    padding-left: 15px;
}

.flexImg {
    display: flex;
}

footer div div img {
    align-self: center;
}

footer div div img:first-of-type {
    border-radius: 50%;
}

footer a, footer a:visited {
    transition: 0.5s;
    color: var(--white);
}

footer a:hover {
    transition: 0.5s;
    color: var(--footerHover);
}